[package]
name = "codeforces-tester-cli"
version.workspace = true
edition.workspace = true

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.53", features = [ "derive" ] }
lib = { path = "../lib", package = "codeforces-tester-lib" }
